<!DOCTYPE html>
<html lang="es-mx">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agregar cliente</title>
  </head>
  <body>
    <div id="app">
      <!-- Navbar -->
      <div class="row">
        <div class="col p-5">
          <nav class="navbar navbar-expand-lg fixed-top bg-light navbar-light">
            <div class="container">
              <a
                class="navbar-brand"
                href="https://clickbalance.com/"
                target="_blank"
                ><img
                  id="clickbalance-logo"
                  src="assets/img/logo1.png"
                  alt="clickbalance-Logo"
                  draggable="false"
                  height="30"
              /></a>
              <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <i class="fas fa-bars"></i>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto align-items-center">
                  <li class="nav-item ms-3">
                    <a class="btn btn-black btn-rounded" href="#!"
                      >Inicio <i class="fa-solid fa-house"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
          <!-- Navbar -->
        </div>
      </div>
      <!-- Contenido -->
      <div class="container rounded-3 div-bordes">
        <div class="row pt-2">
          <div class="col-1">
            <a href="clientes.html" class="btn btn-rounded"
              ><i class="fa-solid fa-arrow-left"></i
            ></a>
          </div>  
          <div class="col-10 pt-1">
            <h5>Nuevo Cliente</h5>
          </div>
          <div class="col-1">
            {{estatusSeleccionado}}
            <button type="button" class="btn btn-success" @click="GuardaCliente" :disabled="txtRFC == '' || txtNombreEmpleado == '' ||
            txtApellidoMaterno == '' || txtApellidoPaterno == '' || txtCodigoPostal == '' || txtPais =='' || estatusSeleccionado =='' ||
            txtEstado =='' || txtMunicipio =='' || txtColonia == '' || txtCalle =='' || txtNumeroExterior =='' || txtNombreContacto =='' || 
            txtTelefono =='' || txtTelMovil == '' ||txtEmail ==''">
              <i class="fa-solid fa-save"></i>
            </button>
          </div>
        </div>
        <div class="row pr-3 pt-2  mb-3">
          <div class="col-12 border">
            <div class="row">
                <h4>Datos Generales - Tipo de persona: {{txtTipoPersona}}</h4>
                <div class="col-6">
                  <div class="form-group" >
                      <label for="txtRFC">RFC</label>
                      <input type="text" class="form-control" id="txtRFC" v-on:keyup.enter="TipoPersona(txtRFC)" v-model="txtRFC" maxlength="13" >
                  </div>
                </div>
                <div class="col-6">
                    <div class="form-group" >
                        <label for="txtNombreEmpleado">Nombre</label>
                        <input type="text" class="form-control" id="txtNombreEmpleado" v-model="txtNombreEmpleado" maxlength="30">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="form-group" >
                        <label for="txtApellidoPaterno">Apellido Paterno</label>
                        <input type="text" class="form-control" id="txtApellidoPaterno" v-model="txtApellidoPaterno" maxlength="30">
                    </div>
                </div>
                <div class="col-6">
                  <div class="form-group" >
                      <label for="txtApellidoMaterno">Apellido Materno</label>
                      <input type="text" class="form-control" id="txtApellidoMaterno" v-model="txtApellidoMaterno"  maxlength="30">
                  </div>
              </div>
            </div>

            <div class="row">
                <div class="col-6">
                  <div class="form-group" >
                      <label for="txtUsoCFDI">Uso CFDI</label>
                      <input type="text" class="form-control" id="txtUsoCFDI" v-model="txtUsoCFDI" maxlength="30">
                  </div>
                </div>
                <div class="col-6">
                    <div class="form-group" >
                        <label for="txtEstatus">Estatus</label>
                        <select class="form-select" v-model="estatusSeleccionado">
                          <option v-for="option in estatus" :value="option.value">
                          {{ option.text }}
                      </select>
                    </div>
                </div>
            </div>

            <!--Personas Morales-->
            <div class="row" v-if="txtTipoPersona == 'Moral'">
              <div class="col-6">
                  <div class="form-group" >
                      <label for="txtRazonSocial">Razón Social</label>
                      <input type="text" class="form-control" id="txtRazonSocial" v-model="txtRazonSocial" maxlength="30">
                  </div>
              </div>
              <div class="col-6">
                  <div class="form-group" >
                      <label for="txtNombreComercial">Nombre Comercial</label>
                      <input type="text" class="form-control" id="txtNombreComercial" v-model="txtNombreComercial" maxlength="30">
                  </div>
              </div>
            </div>
            <!--Direccion-->
            <div class="row mt-2" >
              <h4>Dirección</h4>
              <div class="col-6">
                  <div class="form-group" >
                      <label for="txtCodigoPostal">Código Postal</label>
                      <input type="text" class="form-control" id="txtCodigoPostal" v-model="txtCodigoPostal" @keypress="isNumber($event)" maxlength="6">
                  </div>
              </div>
              <div class="col-6">
                  <div class="form-group" >
                      <label for="txtPais">País</label>
                      <input type="text" class="form-control" id="txtPais" v-model="txtPais" maxlength="30">
                  </div>
              </div>
            </div>

            <div class="row" >
              <div class="col-6">
                  <div class="form-group" >
                      <label for="txtEstado">Estado</label>
                      <input type="text" class="form-control" id="txtEstado" v-model="txtEstado" maxlength="30">
                  </div>
              </div>
              <div class="col-6">
                  <div class="form-group" >
                      <label for="txtMunicipio">Municipio</label>
                      <input type="text" class="form-control" id="txtMunicipio" v-model="txtMunicipio" maxlength="30">
                  </div>
              </div>
            </div>

            <div class="row mb-2" >
              <div class="col-6">
                <div class="form-group" >
                    <label for="txtColonia">Colonia</label>
                    <input type="text" class="form-control" id="txtColonia" v-model="txtColonia" maxlength="30">
                </div>
              </div>
              <div class="col-6">
                  <div class="form-group" >
                      <label for="txtCalle">Calle</label>
                      <input type="text" class="form-control" id="txtCalle" v-model="txtCalle" maxlength="30">
                  </div>
              </div>
            </div>
            <div class="row mb-2" >
              <div class="col-6">
                <div class="form-group" >
                    <label for="txtNumeroExterior">Número Exterior</label> {{txtNumeroExterior}}
                    <input type="text" class="form-control" id="txtNumeroExterior" v-model="txtNumeroExterior" @keypress="isNumber($event)" maxlength="5">
                </div>
              </div>
            </div>
            <!--Datos de contacto-->

            <div class="row" >
              <h4>Datos de contacto</h4>
              <div class="col-6">
                  <div class="form-group" >
                      <label for="txtNombreContacto">Nombre</label>
                      <input type="text" class="form-control" id="txtNombreContacto" v-model="txtNombreContacto" maxlength="30">
                  </div>
              </div>
              <div class="col-6">
                  <div class="form-group" >
                      <label for="txtTelefono">Teléfono</label>
                      <input type="text" class="form-control" id="txtTelefono" v-model="txtTelefono" @keypress="isNumber($event)" maxlength="13">
                  </div>
              </div>
            </div>
            <div class="row" >
              <div class="col-6">
                  <div class="form-group" >
                      <label for="txtTelMovil">Teléfono Móvil</label>
                      <input type="text" class="form-control" id="txtTelMovil" v-model="txtTelMovil" @keypress="isNumber($event)" maxlength="13">
                  </div>
              </div>
              <div class="col-6">
                  <div class="form-group" >
                      <label for="txtEmail">Email</label>
                      <input type="email" class="form-control" id="txtEmail" v-model="txtEmail" maxlength="30">
                  </div>
              </div>
            </div>

            <div class="row mb-2">
              <div class="col">
                <label class="form-label" for="txtObservaciones">Observaciones</label>
                <textarea class="form-control" id="txtObservaciones" v-model="txtObservaciones" rows="4"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <footer class="bg-light text-center text-lg-start mt-4">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2023 Erick Maciel
      <a class="text-dark" href="https://www.facebook.com/erickmacielsoto/"
        >Facebook <i class="fa-brands fa-facebook-f"></i
      ></a>
    </div>
  </footer>

  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <link rel="stylesheet" href="assets/css/style.css" />
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="assets/js/scripts.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
  ></script>
</html>
